$bcgov-prefix: 'bcgov';

@use '@carbon/styles/scss/config' with (
  $prefix: $bcgov-prefix
);

@use '@carbon/styles/scss/components/button/vars' with (
  $button-border-radius: 4px
);

.#{$bcgov-prefix}--data-table-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.#{$bcgov-prefix}--table-expand__button {
  border-radius: 4px;
}

